:root {
    --section-top-margin: 40px;
    --scroll-bar: #0067b8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #212529;
    border-left: 0 solid white;
    border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    width: 0;
    height: 15%;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 12px;
    color: #000;
    background: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    background: #262626;
    z-index: 2;
}

.btn:hover {
    opacity: 0.9;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
}

.menu-btn:hover {
    opacity: 0.5;
}

.dark {
    color: #fff;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 70px;
    font-size: 14px;
}

.navbar img {
    width: 100px;
}

.navbar ul {
    display: flex;
}

.navbar ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.navbar ul li {
    margin: 5px;
    padding: 5px;
}

.navbar ul li a {
    padding-bottom: 5px;
}

.navbar ul.main-menu li a:hover {
    border-bottom: 2px solid #333;
}

.navbar ul.right-menu li a:hover {
    opacity: 0.5;
}

/* Showcase */
.showcase {
    background: url(images/slide1.png) center top/cover no-repeat;
    /* width: 100%; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.showcase h1, 
.showcase p {
    margin-bottom: 5px;
}

.showcase h1 {
    font-size: 1.5rem;
}

.showcase p {
    font-size: 1rem;
}

.showcase a {
    margin-top: 5px;
    margin-bottom: 40px;
}

/* Home Cards */
.home-cards {
    margin-top: var(--section-top-margin);
}

.home-cards .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    justify-content: space-between;
}

.home-cards img {
    width: 100%;
}

.home-cards h1 {
    margin-top: 10px;
    font-size: 1.5em;
}

.home-cards p {
    margin-top: 10px;
    font-size: 1.2em;
}

.home-cards a {
    display: inline-block;
}

.home-cards a {
    margin-top: 10px;
    font-size: 1.5em;
    color: #0067b8;
    font-weight: bold;
}

/* Xbox */
.x-box {
    margin-top: var(--section-top-margin);
    background: url('images/xbox.png') center top/cover no-repeat;
    /* width: 100%; */
    height: 400px;
}

.x-box .content {
    width: 40%;
    padding: 50px 0 0 40px;
}

.x-box .content h1 {
    font-size: 1.5rem;
}

.x-box .content p {
    margin-top: 10px;
    font-size: 1rem;
}

.x-box .content a {
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
}

/* Caron */
.carbon {
    margin-top: var(--section-top-margin);
    background: url('images/carbon.jpg') center top/cover no-repeat;
    /* width: 100%; */
    height: 400px;
}

.carbon .content {
    width: 55%;
    padding: 140px 0 0 30px;
}

.carbon .content h1 {
    font-size: 1.5rem;
}

.carbon .content p {
    margin-top: 10px;
    font-size: 1rem;
}

.carbon .content a {
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
}

/* Social Media */
.social-media {
    margin-top: var(--section-top-margin);
    /* height: 50px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-media p {
    font-size: 1rem;
}

.social-media img {
    margin-left: 10px;
    padding-left: 5px;
}

/* Links */
.links {
    margin-top: var(--section-top-margin);
    background: #f2f2f2;
    color: #616161;
}

.links .link-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    
}

.links ul {
    margin-top: 40px;
}

.links ul li {
    margin-top: 15px;
}

/* Footer */

.footer {
    background: #f2f2f2;
    color: #616161;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px 0;
}

.footer .footer-content div {
    display: flex;
    align-items: center;
}

.footer .footer-content div i {
    margin-right: 5px;
}

.footer ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-left: 10px;
}

.footer ul li {
    margin-left: 10px;
    padding: 10px;
}

@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .navbar ul.right-menu {
        margin-right: 60px;
    }

    .navbar ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        background: #f2f2f2;
        opacity: 0.9;
        width: 250px;
        height: 100%;
        border-right: #ccc 1px solid;
        padding: 30px;
        z-index: 3;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        /* transition: 0.5s ease-in-out; */
    }

    .navbar ul.main-menu.show {
        transform: translateX(-20px);
        /* left: -20px; */
    }

    .navbar ul.main-menu li {
        border-bottom: #ccc 1px solid;
        padding: 10px;
        font-size: 14px;
    }

    .navbar ul.main-menu li:last-child {
        border-bottom: none;
    }

    .x-box p {
        display: none;
    }

    .home-cards .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .carbon .content p {
        display: none;
    }

    .links .link-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .home-cards .grid {
        grid-template-columns: 1fr
    }

    .links .link-content {
        grid-template-columns: 1fr;
    }
}
